<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="https://cdn.wwzznn.com/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="https://cdn.wwzznn.com/layuicms/css/public.css" media="all" />
</head>
<body class="childrenBody">
    <form class="layui-form layui-row layui-col-space10">
        <div class="layui-col-md9 layui-col-xs12">
            <div class="layui-form-item magt3">
                <label class="layui-form-label">添加会员</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" name="AccountName" placeholder="请输入会员名称">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn layui-btn-sm d6e54b35b7e6548a" lay-submit lay-filter="member-add-submit">保存提交</button>
                    <button type="reset" class="layui-btn layui-btn-sm layui-btn-primary">重置</button>
                </div>
            </div>
        </div>
    </form>
    <script type="text/javascript" src="https://cdn.wwzznn.com/layui/layui.js"></script>
    <script type="text/javascript" src="/js/members/member-add.js"></script>
</body>
</html>