<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>支付列表页面</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="https://cdn.wwzznn.com/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="https://cdn.wwzznn.com/layuicms/css/public.css" media="all" />
    <link rel="stylesheet" href="https://cdn.wwzznn.com/layuicms/css/content.css" media="all" />
</head>
<body class="childrenBody">
    <div class="layui-card">
        <div class="layui-card-body">
            <form class="layui-form">
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <select>
                            <option>全部游戏</option>
                        </select>
                    </div>
                    <div class="layui-input-inline">
                        <select>
                            <option value="">请选择查询方式</option>
                            <option value="Merchant">按包网平台时间</option>
                            <option value="Game">按游戏平台时间</option>
                        </select>
                    </div>
                    <div class="layui-input-inline">
                        日期范围
                    </div>
                    <a class="layui-btn layui-btn-sm search_btn" lay-submit lay-filter="dGame-list-search-submit" data-type="reload">搜索</a>
                </div>
            </form>
            <table id="dGame-list-table" lay-filter="dGame-list-table"></table>
        </div>
    </div>

    <script type="text/html" id="dGame-list-table-status">
        {{# if(d.Enabled){ }}
        <a class="layui-btn layui-btn-xs">已开启</a>
        {{# }else{ }}
        <a class="layui-btn layui-btn-xs">已关闭</a>
        {{# } }}
    </script>



    <!--操作-->
    <script type="text/html" id="dGame-list-table-bar">
        <a class="layui-btn layui-btn-xs " lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-xs " lay-event="orders">订单汇总</a>
        <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>
    </script>

    <script type="text/javascript" src="https://cdn.wwzznn.com/layui/layui.js"></script>
    <script type="text/javascript" src="/js/data/game.js"></script>
</body>
</html>