<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>确认支付订单内容</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="https://cdn.wwzznn.com/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="https://cdn.wwzznn.com/layuicms/css/public.css" media="all" />
</head>
<body class="childrenBody">
    <form class="layui-form layui-row layui-col-space10">


        <div class="layui-form-item">

            <div class="layui-inline">
                <label class="layui-form-label">订单编号</label>
                <div class="layui-input-inline" style="width: 100px;">
                    <div class="layui-form-mid id">辅助文字</div>
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">支付方编号</label>
                <div class="layui-input-inline" style="width: 100px;">
                    <!--<input type="password" name="" autocomplete="off" class="layui-input">-->
                    <div class="layui-form-mid payMerchantOrderId">辅助文字</div>
                </div>
            </div>

        </div>


        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">充值会员</label>
                <div class="layui-input-inline" style="width: 100px;">
                    <div class="layui-form-mid member">辅助文字</div>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">充值渠道</label>
                <div class="layui-input-inline" style="width: 100px;">
                    <div class="layui-form-mid paymerchant">辅助文字</div>
                </div>
            </div>
        </div>


        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">充值金额</label>
                <div class="layui-input-inline" style="width: 100px;">
                    <div class="layui-form-mid reqdepositamount">辅助文字</div>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">实际金额</label>
                <div class="layui-input-inline" style="width: 100px;">
                    <div class="layui-form-mid depositamount">辅助文字</div>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">充值时间</label>
                <div class="layui-input-inline" style="width: 100px;">
                    <div class="layui-form-mid createTime">辅助文字</div>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">到账时间</label>
                <div class="layui-input-inline" style="width: 100px;">
                    <div class="layui-form-mid confirmTime">辅助文字</div>
                </div>
            </div>
        </div>


        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-sm" lay-submit lay-filter="pay-confirm-order-submit">确认入账</button>
                <!--<button type="reset" class="layui-btn layui-btn-sm layui-btn-primary">重置</button>-->
                <input type="hidden"  name="memberId" />
                <input type="hidden" name="Id">
            </div>
        </div>


    </form>
    <script type="text/javascript" src="https://cdn.wwzznn.com/layui/layui.js"></script>
    <script type="text/javascript" src="/js/pay/order-confirm-order.js"></script>
</body>
</html>